streamlit==1.39.0

faster-whisper>=1.1.0,<2.0.0
ctranslate2>=4.6.0,<5.0.0
pyaudioop

notion-client==2.2.1

google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
